name: Preprocessing Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-preprocessing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          pip install pandas numpy scikit-learn

      - name: Run Preprocessing Script
        run: |
          python preprocessing/automate_Zalfa.py

      - name: Upload Preprocessed Dataset
        uses: actions/upload-artifact@v4
        with:
          name: dataset_preprocessing
          path: preprocessing/dataset_preprocessing/
